@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-background"></div>

<div class="text-content">
    <div class="event-ease">EventEase</div>
    <div class="welcome-text">
        <p>The best event management system</p>
    </div>
</div>

<div class="footer">
    &copy; 2025 EventEase. All rights reserved.
</div>

